.menu-con{margin: 5% 12% 0%;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
}

.choice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{   
    border: #9B732D solid 2px !important;
    background: linear-gradient(-87deg, #D7B46E 0%, #AE8341 34%, #F0CC86 72%, #9B732D 100%) !important;
    margin: 10px;
    text-shadow: -1px 0px 0px rgb(0 0 0 / 0%);
    padding: 15px 25px;
    box-shadow: 2pt 2pt #D7B46E;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 24px;
    line-height: 1.5;
    border-radius: 2px;
    color: rgb(22, 20, 20);
}

.menu-border{
    border: 10px double #9B732D ;
    height: fit-content;
}

.content{

}

