.footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 30px 0;
}
.ft-item{
    width: calc(100%/3);
    text-align: center;
    padding: 5px 15px;
}
.ft-open{
    border-left: 1px solid white;
    border-right:1px solid white ;
}
.ft-title{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 16px;
}