:root {
  --color: #d2ae68;
  --background-color: #081f28;
}

.bold {
  font-weight: 700;
}

.reverse {
  flex-direction: row-reverse !important;
  text-align: right !important;
  margin-right: 0;
  margin-left: auto;
  left: 0;
  right: auto !important;
}

.promote {
  font-size: 20px;
  color: var(--color);
  background-color: var(--background-color);
}

.promote-banner {
  background: url(https://i.natgeofe.com/n/39181071-db55-488f-bd54-707759ad924e/river-hanoi-vietnam.jpg)
    center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.promote-banner-title {
  position: absolute;
  font-size: 4.5rem;
  top: 50%;
  left: 7%;
  padding: 10px 20px;
  font-family: "Dancing Script", cursive;
}

.promote-scroll-down {
  padding: 10px;
  aspect-ratio: 1/1;
  height: 50px;
  position: absolute;
  fill: var(--color);
  top: 95vh;
  left: 50%;
  transform: translate(-50%, 0);
  animation: UpandDown ease-in-out 1.5s both infinite;
  cursor: pointer;
}

@keyframes UpandDown {
  0% {
    top: 91vh;
  }
  50% {
    top: 90vh;
  }
  100% {
    top: 91vh;
  }
}

.promote-scroll-down:hover,
.btn-top:hover {
  animation-play-state: paused;
}

.promote-container {
  width: 80%;
  margin: 0 auto;
}

.promote-item {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 4%;
  align-items: center;
  border-bottom: 1px solid var(--color);
}

.promote-img {
  border-radius: 7px;
  width: 30%;
  position: relative;
}

.promote-expire-date {
  position: absolute;
  right: 0;
  background-color: rgba(52, 73, 94, 0.5);
  padding: 7px 15px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  border-radius: 7px;
}

.promote-img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 9/12;
  border-radius: 7px;
  object-fit: cover;
}

.promote-text {
  width: 70%;
  text-align: left;
}

.promote-header {
  font-size: 3em;
  margin: 10px 0;
  font-family: "Lobster Two", cursive;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: normal;
}

.promote-title {
  font-size: 1.7em;
  margin-top: 7px;
  margin-bottom: 50px;
  color: white;
  font-family: "Solitreo", cursive;
}

.promote-des {
  font-size: 1em;
  line-height: 1.3;
  text-align: justify;
  margin-bottom: 30px;
  font-family: "Solitreo", cursive;
}

.promote-time-left {
  width: fit-content;
  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-family: "Solitreo", cursive;
}

.promote-time-left:hover {
  background-position: left bottom;
  color: var(--background-color);
  background-color: var(--color);
}
