@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --color: #d2ae68;
  --background-color: #081f28;
}

.Toastify__toast-container * {
  font-family: "Josefin Sans", sans-serif;
  color: var(--color);
  font-size: 1.2rem;
  border-radius: 10px !important;
  opacity: 0.9;
}

.spin-char > * {
  display: inline-block;
  animation: flip 3s forwards ease-in-out;
  animation-delay: calc(0.3s * var(--i));
  min-width: 10px;
}
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.spin-word > * {
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: calc(0.1s * var(--i) + 3s);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.spin-360 {
  transform: rotateY(360deg);
  transition: 2s ease-in-out;
}

.bigContainer {
  background: #081f28;
}
