
.banner{
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: 0px 0px;
    overflow: hidden;
    position: relative;}
    /* background-image: url("https://cdn-www.vinid.net/2020/06/81bd769a-20200602_appvinid_bannerweb_lemonde.jpg"); */


/* .title{
    margin: 0;
    color: whitesmoke;
    font-size: 35px;
    padding: 30px; */

.pic{
    height: 88vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    /* object-position: left top; */
}
